<button class="logSignSwitch logSignBtn" id="log" onclick="logSign()">Go to Log
  In</button>
<button class="logSignSwitch logSignBtn" id="sign" onclick="logSign()">Go to
  Sign Up</button>
<div id="loginSignUp">
  <div class="loginBox">
    <h2 class="logH2">Login</h2>

    <form class="loginForm">
      <label for="email-login" class="logLabel">Email:</label><br />
      <input class="logSignInput" type="text" id="email-login" />
      <br />
      <label for="password-login" class="logLabel">Password:</label><br />
      <input class="logSignInput pw" type="password" id="password-login" />
      <br />
      <button class="logSignBtn" type="submit">Login</button>

    </form>
  </div>
  <div class="signupBox">
    <h2 class="logH2">Signup</h2>

    <form class="signUpForm">
      <label for="name-signup" class="logLabel">Name:</label><br />
      <input class="logSignInput" type="text" id="name-signup" />
      <br />
      <label for="email-signup" class="logLabel">Email:</label><br />
      <input class="logSignInput" type="text" id="email-signup" />
      <br />
      <label for="password-signup" class="logLabel">Password:</label><br />
      <input class="logSignInput pw" type="password" id="password-signup" />
      <br />
      <button class="logSignBtn" type="submit">Signup</button>

    </form>
  </div>
</div>

<script src="/js/login.js"></script>